@charset "UTF-8";
.clamped {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

body {
	font-family: 'Roboto Condensed', sans-serif !important;
	text-align: justify !important;
}

h1 {
    font-family: 'Sail', cursive !important;
}

h2,h3 {
	font-family: 'Courgette', cursive !important;
}